* {
    margin: 0px;
    padding: 0px;
}

.second {
    height: 70px;
    width: 10%;
    background-color: black;
    float: left;
}

.first {
    height: 70px;
    width: 10%;
    background-color: gray;
    float: left;
}

.third {
    height: 70px;
    width: 50%;
    background-color: yellow;
    float: left;
}

.fourth {
    height: 70px;
    width: 50%;
    background-color: pink;
    float: left;
}

.fifth {
    height: 80px;
    width: 33.33%;
    background-color: rgb(10, 10, 237);
    float: left;
}

.sixth {
    height: 80px;
    width: 33.33%;
    background-color: rgb(7, 7, 103);
    float: left;
}

.seventh {
    height: 80px;
    width: 33.33%;
    float: left;
    background-color: rgb(222, 15, 237);
}

.eighth {
    height: 50px;
    width: 16.66%;
    background-color: pink;
    float: left;
}

.ninth {
    height: 50px;
    width: 16.66%;
    background-color: rgb(58, 10, 102);
    float: left;
}

.tenth {
    height: 50px;
    width: 16.66%;
    background-color: rgb(222, 15, 237);
    float: left;
}

.eleventh {
    height: 50px;
    width: 16.66%;
    background-color: rgb(7, 7, 103);
    float: left;
}

.twelth {
    height: 50px;
    width: 16.66%;
    background-color: orange;
    float: left;
}

.thirteenth {
    height: 60px;
    width: 8.33%;
    background-color: red;
    float: left;
}

.fourteenth {
    height: 60px;
    width: 8.33%;
    background-color: rgb(222, 15, 237);
    float: left;
}

.fifteenth {
    height: 60px;
    width: 8.33%;
    background-color: pink;
    float: left;
}

.sixteenth {
    height: 60px;
    width: 8.33%;
    background-color: blue;
    float: left;
}

.seventeenth {
    height: 60px;
    width: 8.33%;
    background-color: rgb(58, 10, 102);
    float: left;
}

.eigteenth {
    height: 60px;
    width: 8.33%;
    background-color: orange;
    float: left;
}