* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------- First Row ----------------- */

._1 {
    height: 40px;
    width: 20%;
    background-color: red;
    float: left;
}

._2 {
    height: 40px;
    width: 20%;
    background-color: yellow;
    float: left;
}

._3 {
    height: 40px;
    width: 20%;
    background-color: blue;
    float: left;
}

._4 {
    height: 40px;
    width: 20%;
    background-color: gray;
    float: left;
}

._5 {
    height: 40px;
    width: 20%;
    background-color: black;
    float: left;
}


/* --------- Second row ------------- */

._2-1 {
    height: 80px;
    width: 25%;
    background-color: gray;
    float: left;
}

._2-2 {
    height: 80px;
    width: 25%;
    background-color: pink;
    float: left;
}

._2-3 {
    height: 80px;
    width: 25%;
    background-color: red;
    float: left;
}

._2-4 {
    height: 80px;
    width: 25%;
    background-color: rgb(6, 6, 120);
    float: left;
}


/* ----------------------------------------------------------------------------- */


/*--- Third row ---*/

._3-1 {
    height: 100px;
    width: 20%;
    background-color: yellow;
    float: left;
}


/*--------- 3-1 has 4 sections-------------------------- */

._3-1-1 {
    height: 50px;
    width: 50%;
    background-color: yellow;
    float: left;
}

._3-1-2 {
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
}

._3-1-3 {
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
}

._3-1-4 {
    height: 50px;
    width: 50%;
    background-color: yellow;
    float: left;
}


/* ------------------ 3-1-1 has another div inside it--------- */

._3-1-1-1 {
    height: 20px;
    width: 50%;
    background-color: white;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* -------- 3-1-2 has another div inside it -----------------*/

._3-1-1-2 {
    height: 20px;
    width: 50%;
    background-color: white;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* ------------------ 3-1-3 has another div inside it ----------------- */

._3-1-1-3 {
    height: 20px;
    width: 50%;
    background-color: green;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* -------------------- 3-1-4 has another div inside it -------------------- */

._3-1-1-4 {
    height: 20px;
    width: 50%;
    background-color: rgb(223, 131, 193);
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* ----------------------------------------------------------------------------- */

._3-2 {
    height: 100px;
    width: 20%;
    background-color: rgb(65, 3, 119);
    float: left;
}


/* --------------------- 3-2 has another div inside it----------------------- */

._3-2-1-1 {
    height: 50px;
    width: 50%;
    background-color: yellow;
    float: left;
    margin-top: 25px;
    margin-left: 70px;
}


/* ------------------------------------------------------------------------ */

._3-3 {
    height: 100px;
    width: 20%;
    background-color: brown;
    float: left;
}

._3-4 {
    height: 100px;
    width: 20%;
    background-color: rgba(250, 173, 6, 0.983);
    float: left;
}


/* --------------------- 3-4 has another div inside it----------------------- */

._3-4-1-1 {
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
    margin-top: 25px;
    margin-left: 70px;
}


/* ----------------------- */

._3-5 {
    height: 100px;
    width: 20%;
    background-color: black;
    float: left;
}


/* ------------------- 3-5 has 4 sections inside it --------------------------*/

._3-5-1 {
    height: 50px;
    width: 50%;
    background-color: black;
    float: left;
}

._3-5-2 {
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
}

._3-5-3 {
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
}

._3-5-4 {
    height: 50px;
    width: 50%;
    background-color: black;
    float: left;
}


/* ------------------ 3-5-1 has another div inside it--------- */

._3-5-1-1 {
    height: 20px;
    width: 50%;
    background-color: white;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* ------------------ 3-5-1 has another div inside it--------- */

._3-5-1-2 {
    height: 20px;
    width: 50%;
    background-color: yellow;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* ------------------ 3-5-1 has another div inside it--------- */

._3-5-1-3 {
    height: 20px;
    width: 50%;
    background-color: yellow;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* ------------------ 3-5-1 has another div inside it--------- */

._3-5-1-4 {
    height: 20px;
    width: 50%;
    background-color: white;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}


/* -------------------------------- 4th row --------------------------------- */

._4-1 {
    height: 200px;
    width: 20%;
    background-color: pink;
    float: left;
}


/* --------------- 4-1 has 4 div one after the other ------------------------- */

._4-1-1 {
    height: 50px;
    width: 100%;
    background-color: gray;
    float: left;
}

._4-1-2 {
    height: 50px;
    width: 100%;
    background-color: pink;
    float: left;
}

._4-1-3 {
    height: 50px;
    width: 100%;
    background-color: green;
    float: left;
}

._4-1-4 {
    height: 50px;
    width: 100%;
    background-color: brown;
    float: left;
}


/* -------------------------------------------------------------------------- */

._4-2 {
    height: 200px;
    width: 20%;
    float: left;
    background-color: white;
}

._4-3 {
    height: 200px;
    width: 40%;
    float: left;
    background-color: rgb(6, 6, 120);
}


/* ---------------- 4-3 has 8 div inside one another ------------- */

._4-3-1 {
    height: 200px;
    width: 80%;
    background-color: brown;
    float: left;
}

._4-3-2 {
    height: 200px;
    width: 90%;
    background-color: yellow;
    float: left;
    margin-left: 15px;
}

._4-3-3 {
    height: 180px;
    width: 90%;
    background-color: black;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

._4-3-4 {
    height: 160px;
    width: 90%;
    background-color: green;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

._4-3-5 {
    height: 140px;
    width: 90%;
    background-color: blue;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

._4-3-6 {
    height: 125px;
    width: 90%;
    background-color: yellow;
    float: left;
    margin-top: 8px;
    margin-left: 12px;
}

._4-3-7 {
    height: 110px;
    width: 90%;
    background-color: pink;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

._4-3-8 {
    height: 95px;
    width: 90%;
    background-color: rgb(65, 3, 119);
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}


/* ---------------------------------------------------------------- */

._4-4 {
    height: 200px;
    width: 20%;
    float: left;
    background-color: pink;
}


/* -------------------- row 5th ------------------------------------------ */

._5-1 {
    height: 100px;
    width: 16.66%;
    background-color: green;
    float: left;
}


/*------- 5-1 has 2 more divs in it------ */

._5-1-1 {
    height: 50px;
    width: 50%;
    background-color: red;
    float: left;
}

._5-1-2 {
    height: 50px;
    width: 50%;
    background-color: blue;
    float: left;
}


/* ---------------- */

._5-2 {
    height: 100px;
    width: 16.666%;
    background-color: yellow;
    float: left;
}


/* ---------- 5-2 has 1 div inside it ----- */

._5-2-1 {
    height: 50px;
    width: 50%;
    background-color: rgb(243, 172, 7);
    float: left;
    margin-left: 55px;
    margin-top: 25px;
}

._5-3 {
    height: 100px;
    width: 16.666%;
    background-color: black;
    float: left;
}


/* ---------------- 5-3 has 2 more divs -------------- */

._5-3-1 {
    height: 50px;
    width: 50%;
    background-color: brown;
    float: left;
}

._5-3-2 {
    height: 50px;
    width: 50%;
    background-color: rgb(65, 3, 119);
    float: left;
}


/* ------------------- */

._5-4 {
    height: 100px;
    width: 16.666%;
    background-color: brown;
    float: left;
}

._5-5 {
    height: 100px;
    width: 16.66%;
    background-color: gray;
    float: left;
}


/* --------5-5 has 2 more divs inside it */

._5-5-1 {
    height: 50px;
    width: 50%;
    background-color: red;
    float: left;
    margin-top: 50px;
}

._5-5-2 {
    height: 50px;
    width: 50%;
    background-color: yellow;
    float: right;
    margin-top: 50px;
}


/* -------------------- */

._5-6 {
    height: 100px;
    width: 16.666%;
    background-color: green;
    float: left;
}


/*------------------------ 6th row------------------- */

._6-1 {
    height: 100px;
    width: 20%;
    background-color: gray;
    float: left;
}


/* ------ 6-1 has 3 more div ----------- */

._6-1-1 {
    height: 92px;
    width: 25%;
    background-color: white;
    margin-top: 4px;
    margin-left: 8px;
    float: left;
}

._6-1-2 {
    height: 92px;
    width: 25%;
    background-color: green;
    margin-left: 20px;
    margin-top: 4px;
    float: left;
}

._6-1-3 {
    height: 92px;
    width: 25%;
    background-color: red;
    margin-top: 4px;
    margin-left: 20px;
    float: left;
}


/* ------------------------- */

._6-2 {
    height: 100px;
    width: 20%;
    background-color: pink;
    float: left;
}


/*  ------------ 6-2 contain 3 more div ----------- */

._6-2-1 {
    height: 35px;
    width: 60%;
    background-color: black;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

._6-2-2 {
    height: 50px;
    width: 30%;
    background-color: yellow;
    margin-top: 45px;
    margin-left: 10px;
    float: left;
}

._6-2-3 {
    height: 35px;
    width: 60%;
    background-color: yellow;
    margin-left: 10px;
    float: left;
    margin-top: -40px;
}


/* ------------------------------ */

._6-3 {
    height: 100px;
    width: 20%;
    background-color: white;
    float: left;
}


/* ---------- 6-3 has 2 more divs */

._6-3-1 {
    height: 50px;
    width: 50%;
    background-color: green;
    float: left;
}

._6-3-2 {
    height: 50px;
    width: 50%;
    background-color: red;
    float: left;
}


/* ------------------------ */

._6-4 {
    height: 100px;
    width: 20%;
    background-color: brown;
    float: left;
}


/* -------6-4 has 2 more divs */

._6-4-1 {
    height: 50px;
    width: 50%;
    background-color: rgb(229, 135, 233);
    float: left;
    margin-top: 50px;
}

._6-4-2 {
    height: 50px;
    width: 50%;
    background-color: yellow;
    float: left;
    margin-top: 50px;
}


/* ------------------- */

._6-5 {
    height: 100px;
    width: 20%;
    background-color: pink;
    float: left;
}


/* ----- 6-5 contain 3 more divs------ */

._6-5-1 {
    height: 100px;
    width: 50%;
    border: solid rgb(6, 6, 123)5px;
    border-right: solid rgb(6, 6, 123) 15px;
    float: left;
}

._6-5-2 {
    height: 50px;
    width: 50%;
    background-color: rgb(229, 135, 233);
    float: left;
}

._6-5-3 {
    height: 50px;
    width: 50%;
    background-color: red;
    float: left;
}


/* ------------------ 7th row ----------------- */

._7-1 {
    height: 50px;
    width: 10%;
    background-color: red;
    float: left;
}

._7-2 {
    height: 50px;
    width: 10%;
    background-color: yellow;
    float: left;
}

._7-3 {
    height: 50px;
    width: 10%;
    background-color: white;
    float: left;
}

._7-4 {
    height: 50px;
    width: 10%;
    background-color: black;
    float: left;
}

._7-5 {
    height: 50px;
    width: 10%;
    background-color: green;
    float: left;
}

._7-6 {
    height: 50px;
    width: 10%;
    background-color: blue;
    float: left;
}

._7-7 {
    height: 50px;
    width: 10%;
    background-color: brown;
    float: left;
}