*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw;
    background: url('Assest/image/WhatsApp Image 2024-07-20 at 12.35.00 PM.jpeg') no-repeat center center/cover;
}
#hsla-box{
    height: 100vh;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
}
header{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height: auto;
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon a{
    color: white;
}
.icon-right{
    height: auto;
    width: 80%;
    display: flex;
    align-items: right;
    justify-content: right;
    font-family: sans-serif;
}
.icon-right p{
    margin-right: 2%;
    float: right;
}
/* ------------------------------------- */
.nav1{
    height: 70px;
    width: 16%;
    color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4%;
    background: none;
}
.nav1 img{
    height: 40px;
    width: 24%;
}
.nav2{
    height: 70px;
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 32%;
    padding-right: 4%;
}
.nav2 ul li{
    list-style-type: none;
    color: white;
    display: inline;
    margin: 0 15px;
    font-family: sans-serif;
}
.nav2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
}
.h1-text{
    height: 60px;
    width: 80%;
    color: white;
    margin-top: 10%;
    margin-left: 8%;
}
.h1-text h1{
    font-size: 46px;
    font-family: sans-serif;
    font-weight:700;
}
.text-p{
    height: 50px;
    width: 80%;
    margin-top: 6%;
    font-family: sans-serif;
    font-weight: lighter;
}
.text-p p{
    color: gray;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.button1{
    height: 70px;
    width: 100%;
    margin-top: 2%;
    margin-left: 8%;
}
.button1 button{
    height: 40px;
    width: 15%;
    color: white;
    background-color: orange;
    border: none;
    font-weight: 700;
    font-family: sans-serif;
}
/* ----------------------- */
.input-tag{
    height: auto;
    width: 100%;
    padding-left:8%;
}
input{
    height: 30px;
    width: 20%;
    margin-right: 3%;
}